@media only screen and (max-width: 800px) 
{
	 .icon-bar 
	 {
		width:375px;
		z-index: 5;
		position: fixed;
		display: -webkit-box;
		top:0px;
		left:0px;
		right:0px;
		-webkit-transform: translateY(1%); 
		-ms-transform: translateY(-1%);
		/* transform: translateY(-50%); */    
		box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
	}
	.icon-bar a
	{
		padding:15px;
		
	}
	.About
	{
		padding-left:0px;
		padding-right:0px;
		
	}
	
	.container 
	{
		padding-right:20px;
		padding-left:auto;
	}
	
	.About 
	{
		width:100%;
	}
	#section1.Main_page
	{
		width:375px;
	}
    
	#section2.Main_page
	{
		width:375px;
	}
	#section3.Main_page
	{
		width:375px;
	}
	#section4.Main_page
	{
		width:375px;
	}
	.ContentInfo 
	{
		height: 80vh;
		width: 100%;
		background-color: white;
		margin-left: 2px;
		text-align: center;
		margin-top: 100px;
		box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
		word-wrap: break-word;
	}
	
	.col-md-6
	{
		width:auto;
		padding-right:0px;
	}
	
	.col-md-6
	{
		width:auto;
		padding-right:0px;
	}
	
	.jumbotron
	{
		width:342px;
	}
	
	.About
	{
		width:375px;
		padding-left:10px;
		padding-right:10px;
		margin-left:1px;
	}
	
	 
	.About_image
	{
		width:100%;
	}
	
	.text_box
	{
		margin-top: 80px;
		height: 200px;
		width: 350px;
		float: left;
	}
	
	.other_box 
	{
		height: 200px;
		width: 350px;
		float: left;
	}
	
	.first_box 
	{
		margin-top: 10px;
		height: 200px;
		width: 350px;
	}
	
	.other_box_a 
	{
		display:none;
		height: 200px;
		width: 350px;
		margin-right: auto;
		margin-left: auto;
	}
	
	h_Bold_a 
	{
		font-size:3.0em;
	} 
	
	
	.Text
	{
		margin-top:0px;
		padding-top:100px;
	}
}